<!DOCTYPE html>
<html>
<head>
  <title>Transcoder</title>
  <%= stylesheet_link_tag    "transcoder/application", media: "all" %>
  <%= javascript_include_tag "transcoder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
